design_patterns/DesignPatterns/.vs
design_patterns/DesignPatterns/OpenClosed/x64
design_patterns/DesignPatterns/SingleResponsibility/x64
design_patterns/DesignPatterns/x64
TheCPPMasterClass/pre
TheCPPMasterClass/SmartPointer/.vs
TheCPPMasterClass/SmartPointer/x64
TheCPPMasterClass/SmartPointer/SmartPointer/x64
TheCPPMasterClass/SmartPointer/02_bitwise_operators/x64
TheCPPMasterClass/SmartPointer/01_const/x64
